#confirm-otp-page{
    padding-top: 70px;
    font-size: .9em;

    input{
        border: none;
        border-bottom: 3px dashed;
        font-size: 2em;
        width: 85px;
        letter-spacing: 5px;
        outline: none;
    }
}