<div class="content footer" id="footer">

  <div class="row">


    <div class="col-md-3 col-md-offset-1 col-sm-6 col-xs-12">
      <p class="sub-header">Contact us:</p>
      <p><i class="fa fa-phone">&nbsp;&nbsp;+(256) 774 983 602</i></p>
      <p><a target="_top" routerLink="/contact" routerLinkActive="active"><i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;&nbsp;message us</a></p>
      <p><a href="mailto:info@seyeya.com?Subject=Inquiry" target="_top"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;email us</a></p>

      <p style="font-size:1.1em;">
        <a href="https://www.facebook.com/advertxpo" target="_blank"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;&nbsp;
        <a href="https://twitter.com/advertxpo" target="_blank"><i class="fa fa-twitter"></i></a>
      </p>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">

      <p class="sub-header">Find us @:</p>
        <p>Makerere University Kampala</p>
        <p>SCIT, Block B, Level 6</p>
        <p>P.O.Box 8366, Kampala</p>
        <p>TIN: 1009586684 </p>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <p class="sub-header">Useful links:</p>
      <!--<p>about us</p>-->
      <p><a routerLink="/newadvert" routerLinkActive="active">advertise now</a></p>
      <p><a routerLink="/create_location" routerLinkActive="active" target="_top">add a location</a></p>
      <p><a routerLink="/signup" routerLinkActive="active" target="_top">create account</a></p>
      <p><a routerLink="/faqs" routerLinkActive="active" target="_top">FAQs</a></p>
      <p><a routerLink="/terms" routerLinkActive="active" target="_top">terms</a></p>
      <!--<li [routerLinkActive]=[ 'active']><a [routerLink]=[ 'terms']>terms of service</a></li>-->
    </div>

    <div class="col-md-2 col-sm-6 col-xs-12"> 
      <p class="sub-header">advertXpo&trade;</p>
      <img src="../../assets/logo.png" alt="advertXpo logo" class="footer-logo">
      <span style="display:block;">copy right © 2017 </span>
      <span style="display:block;">all rights reserved</span>


    </div>

  </div>
</div>
