<div id="faqs-page" class="form-page">
    
    <div class="form-wrapper">
            <h2>
                    Commonly asked Questions
                  </h2>

                  <hr/>
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button> 
        If you cannot find an answer to your question, make sure to contact us on:&nbsp;&nbsp; <i class="fa fa-phone" aria-hidden="true">&nbsp;<b>(256) 774-983602</b> </i>
    </div>

    <br />

    <div class="panel-group" id="accordion">
        <div class="faqHeader" style="margin-top:0;">General questions</div>
        
        <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">What is advertXpo?</a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        advertXpo is a technology platform that helps advertisers connect with their audiences through targeted and effective advertising on screens found in public
                        locations.
                    </div>
                </div>
            </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">How do I change my Phone number?</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    You may not necessarily have to change the phone number. If you want to use a different phone number to make a payment, you just go to the create advert page and scroll down to the payment method. Once you select the MTN mobile money option, you will be given the option to enter the phone number that you want to use for payment. 
                </div>
            </div>
        </div>

        

        <div class="faqHeader">Advertisers</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">How do I know that my advert has been displayed?</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    You will receive an SMS notification and/or email notification once the advert is being displayed. 
                    You will also receive a notification once your campaign period expires. 
                    But most importantly, conversion of customers is the most fool-proof for a return on your investment.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">How do I attach an image to the advert?</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    On the create advert page , Select the 3- Screen Split option. Once this is selected, the option for images will be highlighted in Orange with a white text. Click the black button option that has <strong>“Upload images”</strong> text written in white. Note, that you can upload a maximum of 3 images and they must be of supported formats i.e. jpg, png, gif.  
                    The selected image will be displayed with a heading of “Advert Images” above the <strong>“Upload images”</strong> button.  Once the image or images are selected the selected image will be relayed onto the <strong>“AD Preview”</strong> on the top right corner of the page. You can be able to change the images by clicking on the cancel symbol presented on top of the uploaded image.
                </div>
            </div>
        </div>

        <div class="faqHeader">Location owners (partners)</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">What do I gain from signing up?</a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    Once you sign up your location such as a bar, restaurant, hostel.. advertXpo will send adverts to the TV display screens in your location depending on the 
                    agreement you have with us.
                    <br/>
                    And We pay you for every advert that airs on your TV screens.
                    
                </div>
            </div>
        </div>
    </div>
</div>
</div>