$primary_color: #f90;
$primary_black: rgba(0,0,0,0.7);

.advert-steps{
    padding-top: 50px;
    padding-bottom: 0.25em;
    background-color: #fff;
    font-size: .9em;
    position: fixed;
    width: 100%;
    z-index: 10;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.08);

    .step-number{
        background-color: $primary_black;
        color: #fff;
        padding: 0 .6em ;
        border-radius: 10px;
        display: inline-block;
        font-size: .8em;
    }
}

.root-element{
    margin-top: 1em;
    margin-bottom: 5em;
    padding-top: 100px;
}
h2{
    font-size: 1.2em;
}

.smaller-label{
    font-size: .8em;
    font-weight: bold;
}

#new-advert-form{
    display: block;
}

.terms-and-conditions{
    font-size: .8em;
}

.adsxpo-preview-window{
    max-height: 300px;
}

.btn-sm {

    border-radius:3px;
}

.btn-custom {
    padding:auto 1em;
    margin-right:0.1em;
}
.alert {
    padding:10px;
}

.alert-warning {
    color:#7b572d;
}





@media (max-width: 512px){
    .root-element{
        padding-top: 70px;
    }
    .advert-steps{
        display: none;  
    }
}

